:root {
    --teal: #06b6d4;
    --white: #fff;
    --blue: #3b82f6;
    --lightgray: #cbd5e1;
    --gradient: linear-gradient(to right, var(--teal), var(--blue))
}

.title-task {
    color: var(--white);
    text-align: center;
}

fieldset {
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--lightgray);
    border-radius: 20px;
    margin-bottom: 25px;
}

.text-for-task14 {
    width: 50vw;
    margin: 2rem auto;
    font-size: 1.3rem;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: var(--gradient);
    accent-color: var(--blue);
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 390px;
    margin: 2rem auto;
    padding: 26px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#phrase-input-field {
    background: #f4f4f4;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

#result-field {
    flex: 1;
    background: #f4f4f4;
}

input[type="text"], input[type="number"] {
    padding: 20px 24px;
    border: 1px solid var(--lightgray);
    border-radius: 50px;
}

input[type="text"]:focus, input[type="number"]:focus {
    outline: none;
    border: #308CEF 1px solid;
}

input[type="range"] {
    padding: 8px 10px;
    background: #f8f8f8;
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
}

.input-wrapper {
    margin-top: 3rem;
}

#phrase-result-block,  #brick-result-block{
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    background-color: #f4f4f4;
    border: 1px solid var(--lightgray);
}

#brick-result-block {
    min-height: 60px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

.input-items {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.generate-btn {
    background-image: var(--gradient);
    padding: 14px 24px;
    border: none;
    font-weight: 600;
    color: white;
    display: block;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.25rem;
}

.generate-btn:hover {
    background: var(--blue);
}
